pipeline/Copy_player_history.json
{
	"name": "Copy_player_history",
	"properties": {
		"activities": [
			{
				"name": "Get-Player-Data",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET"
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "FaceitAPI_getPlayer",
						"type": "DatasetReference",
						"parameters": {
							"player_id": "f7c53e78-107a-45eb-8225-30b8eb65e42f",
							"nickname": "suh1na"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "FaceitAPI_PlayerBlob",
						"type": "DatasetReference",
						"parameters": {
							"player_id": {
								"value": "@pipeline().parameters.player_name",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "check_player_id",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Get-Player-Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "FaceitAPI_PlayerBlob",
						"type": "DatasetReference",
						"parameters": {
							"player_id": {
								"value": "@activity('Get-Player-Data').output.firstRow.player_id",
								"type": "Expression"
							}
						}
					}
				}
			}
		],
		"parameters": {
			"player_name": {
				"type": "string",
				"defaultValue": " suh1na"
			}
		},
		"variables": {
			"player_name": {
				"type": "String"
			}
		},
		"annotations": []
	}
}